<!DOCTYPE html>
<html class="no-js" lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="refresh" content="888">
	<title>FATEC INVADERS</title>
    <%- defineContent('style') %>    
</head>
<body>
    <%- defineContent('content') %>
</body>
<%- defineContent('script') %>    
</html>