body {
    background-image: url("../img/background.png");
    overflow: auto;
}

.form{
    margin-top: 40px;
}

.space{
    padding: 20px;
}

.thumb{
    height: 50px;
    width: auto;
}

.list-a{
    text-decoration: none;
    font-size: 35px;
}

.list-a:hover{
    text-decoration: none;
}

.list-a-sub{
    text-decoration: none;
    font-size: 30px;
}

.list-a-sub:hover{
    text-decoration: none;
}

i.deletar{
    color:#E8000E;
}

i.editar{
    color:green;
}

.button.hollow{
    background-color: #E8000E;
    box-shadow: inset 53px -43px 122px 0px rgba(0,0,0,0.75);
    border: none;
}

.button.hollow:hover{
    background-color: #E8000E;
    box-shadow: inset 100px -43px 122px 0px rgba(0,0,0,0.75);
    border: none;
}

.p-button{
    margin-top:-10px;
    font-size:50px;
    font-weight: bolder;
    color:white;
}

.p-cadastrar{
    font-size:20px;
    font-weight: bolder;
    color:white;
}

.not-show{
    display: none
}

.button{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: sticky;
    bottom: 20px;
    left: 90%;
}

.gambiarra{
    height:40vh;
}