<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/style/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/style/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="/style/css/modal.css" />
	<link rel="stylesheet" type="text/css" href="/style/css/app.css" />
    <%- defineContent('style') %>    
</head>

<body>
    <%- defineContent('content') %>
</body>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/vendor/app.js"></script>
    <%- defineContent('script') %>    
</html>